
<style type="text/css">
.wrapper .post {
-moz-border-radius:7px 7px 7px 7px;
border:1px solid silver;
float:left;
margin:20px;
min-height:100px;
padding:5px;
width:100px;
}

</style>

</style>

</head>


<div class="wrapper">
<div class="post">
<div class="post">
<div class="post">



    <div>
    <a href="https://www.youtube.com/user/mirahsan2">Media</a>
    </div>
   
</div>

<div class="post">
    <div>
     <a href="http://mirahsan2.deviantart.com/">Art</a>
    </div>

   
</div>
</div>

</body>
